body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(209, 208, 208);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#navbar{
    background-color: rgb(194, 193, 193);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#navbar   img{
    margin: 0px;
    padding:0px;
    width: 2000px ;
    height: 30px ;

}


.attributes{
    background-color: blueviolet;

}


.tabela {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
